.card-kontak {
    background-color: var(--bg-card);
    border-radius: 20px;
    border: 1px solid var(--hijau-border);
}

.input-custom {
    background-color: #1a3d20 !important;
    border: none !important;
    color: var(--teks-utama) !important;
    padding: 12px;
}

.input-custom::placeholder {
    color: var(--teks-redup);
    opacity: 0.5;
}

.btn-kirim-custom {
    background-color: #68b590;
    color: var(--bg-utama);
    border: none;
    padding: 10px 50px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-kirim-custom:hover {
    background-color: #22c55e;
    transform: scale(1.05);
}

.avatar-placeholder {
    width: 32px;
    height: 32px;
    background-color: #ccc;
    border-radius: 50%;
}

.faq-row {
    border-bottom: 1px solid var(--hijau-border);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.grey-box {
    background-color: #d1d5db;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 4px;
}

.icon-circle {
    width: 35px;
    height: 35px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: #0b1c14;
    font-size: 1.1rem;
    flex-shrink: 0;
}

.social-item {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 12px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.social-item:hover {
    transform: translateY(-5px);
    background-color: #e8f5ea;
    box-shadow: 0 10px 20px rgba(34, 197, 94, 0.3);
}

.social-item:active {
    transform: translateY(-2px);
    scale: 0.98;
}

.social-item:hover .icon-circle {
    background-color: #22c55e;
    color: white;
    transition: 0.3s;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: #22c55e !important; 
}

.accordion-button::after {
    filter: invert(1);
}

.accordion-item {
    border-color: var(--hijau-border) !important;
}
